:root{
    --primary:#9f0909;
    --secondary: #d66666;
    --grey: #d4d4d4;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img{
    width: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container{
    max-width: 1350px;
    margin: 0 auto;
    padding: 20px;
}

/* header */
header{
    margin-top: 68px;
}
.header{
    background-color: var(--primary);
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 20;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
}
.header .container{
    padding: 0 2rem;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.logo img{
    max-width: 100px;
}
.main-menu{
    flex: 1 1 auto;
}
.main-menu ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    /* gap: 2rem; */
}
.main-menu ul li{
    flex: 1 1 auto;
}
.main-menu ul a{
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 1.5rem 0;
    white-space: nowrap;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}
.main-menu ul a:hover{
    color: #fff;
    font-weight: 600;
    background-color: var(--secondary);
}
.actions{
    display: flex;
    gap: 2rem;
}
.actions a{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
}
.actions img{
    width: 20px;
}
.actions a:hover{
    color: var(--secondary);
}
.bag{
    position: relative;
}
.bag-counter{
    position: absolute;
    text-align: center;
    line-height: 1.2;
    width: 20px;
    right: -8px;
    top: -6px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
}

/* home page */
.main-container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 2rem;
}
.products{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.product__card{
    padding: 1.5rem;
    border: 1px solid var(--grey);
    flex: 0 1 23%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    cursor: pointer;
}
.product__card:hover{
    -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.28);
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.28);
    background-color: #fff;
}
.card__img{
    width: 100%;
}
.card__img:hover{
    transform: scale(1.1);
}
.card__buttons{
    margin-bottom: 0;
    margin-top: auto;
}

.btn{
    background-color: var(--primary);
    color:  #fff;
    padding: 0.5rem;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
}
.card__price{
    color: var(--primary);
    font-weight: 700;
    font-size: 20px;
}
.btn-add-to-bag{
    position: relative;
    width: 100%;
    display: inline-block;
    margin-top: 1rem;
    padding: 0.7rem 0;
    font-weight: 600;
}
.btn-add-to-bag:hover{
    background-color: var(--secondary);
}
.card__rating{
    display: flex;
    align-items: center;
    gap: 5px;
}
.rating__stars{
    display: flex;
    gap: 2px;
    list-style: none;
    margin:0;
    padding: 0;
}
.full-star{
    color: #FFC007;
}
.empty-star{
    color: var(--grey);
}
.card__title{
    height: 50px;
}
.card__title{
    font-size: 11px;
}
/* .btn-add-to-bag:after{
    content: '';
    position: absolute;
    background: url(../img/shopping-cart.png) no-repeat center / cover;
    width: 16px;
    height: 16px;
    top: 50%;                         
    transform: translate(0, -50%);
} */

/* footer */

footer{
    text-align: center;
    background-color: var(--primary);
    color: #fff;
    padding: 2rem 0 4rem;
}
.filter-wrap{
    margin-bottom: 2rem;
}
.filter__title{
    font-size: 20px;
}
.filter__content-list{
    list-style: none;
}
.filter__content{
    /* border: 1px solid var(--grey); */
    height: 200px;
    overflow: auto;
    padding: 0.5rem;
    margin: 1rem 0;
}
.filter-btn{
    cursor: pointer;
    width: 100%;
}
.filter-btn:hover{
    background-color: var(--secondary);
}
.filter__content-list li:hover label{
    color: var(--primary);
    cursor: pointer;
}
.filter__content-list li:hover input{
    border-color: var(--primary);
}